<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE 
mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biz.iolist.mapper.IolistDao">
	<select id="selectAll" resultType="iolistVO">
		SELECT * FROM tbl_iolist
	</select>
	
	<select id="findById" resultType="iolistVO">
		SELECT * FROM tbl_iolist WHERE io_id = #{io_id}
	</select>
	
	<select id="iolistJoin" resultType="iolistDto">
		SELECT * FROM tbl_iolist I
		    LEFT JOIN tbl_product P
		        ON I.io_pcode = P.p_code
		    LEFT JOIN tbl_dept D
		        ON I.io_dcode = D.d_code
	</select>
	<insert id="insert" parameterType="iolistVO">
		INSERT INTO tbl_iolist(io_id, io_date, io_pcode, io_dcode, io_inout, io_tax, io_quan, io_price, io_total, io_tax_total)
		VALUES(seq_iolist.nextval, #{io_date}, #{io_pcode}, #{io_dcode}, #{io_inout}, #{io_tax}, #{io_quan}, #{io_price}, #{io_total}, #{io_tax_total})
	</insert>
	
	<update id="update" parameterType="iolistVO">
		UPDATE tbl_iolist 
		SET io_date = #{io_date},
			io_pcode = #{io_pcode},
			io_dcode = #{io_dcode},
			io_inout = #{io_inout},
			io_tax = #{io_tax},
			io_quan = #{io_quan},
			io_price = #{io_price},
			io_total = #{io_total},
			io_tax_total = #{io_tax_total}
		WHERE io_id = #{io_id}
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_iolist WHERE io_id = #{io_id}
	</delete>
</mapper>