@charset "UTF-8";

label {
	
	display: block;
	width: 100px;
	float: left;
	
	padding: 8px;
	text-align: right;
	
	font-weight: bold;
	color: #009688;
	font-size: 11pt;
}

input, select, textarea {
	margin: 3px;	
	padding: 8px;
	border: 1px solid #ccc;
	display: inline-block;
	width: 85%;
}