@charset "UTF-8";

	* {
		box-sizing: border-box;
		-wepkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	body {
		max-width: 90%;
		margin: 0px auto;
	}
	section {
		border: 1px solid black;
	}
	header {
		background-color: #00abbb;
		color: #fff;
		text-align: center;
		padding: 1em; /* font-size와 같은 비율로 padding 설정 */
		font-size: 20px;
	}
	nav {
		background-color: #00ab11;
		font-size: 15pt;
		font-weight: bold;
	}
	.nav-menu {
		display: inline-block;
		color: #fff;
		padding: 8px 16px; 
		text-decoration: none;
		width: auto;
	}
	.nav-menu:hover {
		color: black;
		background: linear-gradient(to bottom, white, silver);
	}
	#btn_save {
		margin-bottom: 10px;
		background-color: #00ab11;
		font-weight: bold;
		color: white;
		padding: 0.5em;
		width: 120px;
	}
	#btn_save:hover {
		background: linear-gradient(to bottom, white, silver);
		color: black;
		
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
		width : 90%;
		display: table;
		border: 1px solid #ddd;
		margin: 5px auto;
	}
	
	table tr {
		border: 1px solid #ddd;
	}
	table td, table th {
		padding: 8px;
		display: table-cell;
		text-align: left;
		vertical-align: center;
		cursor: pointer;
	}
		
	footer {
		background-color: #00abbb;
		color: #fff;
		text-align: center;
		padding: 5px;
	}